Repository doublegate/OctoLLM: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-coverage, cargo-coverage

Path conditions:
  pytest-coverage: any of: ^(services|shared)/.*\.py$
  cargo-coverage: any of: ^(services|shared)/.*\.rs$

docs(readme): Add OctoLLM logo image above badges
  README.md
Due: none

docs(sprint): Complete Sprint 0.6 - Phase 0 Completion Framework
  CHANGELOG.md
  docs/security/phase0-security-audit.md
  docs/sprint-reports/SPRINT-0.6-COMPLETION.md
  docs/sprint-reports/SPRINT-0.6-CONSISTENCY-REVIEW.md
  docs/sprint-reports/SPRINT-0.6-INTEGRATION-TESTING.md
Due: none

fix(sdk): Fix 19 Ruff linting errors in Python SDK
  sdks/python/octollm-sdk/examples/async_usage.py
  sdks/python/octollm-sdk/examples/authentication.py
  sdks/python/octollm-sdk/examples/basic_usage.py
  sdks/python/octollm-sdk/octollm_sdk/client.py
  sdks/python/octollm-sdk/octollm_sdk/config.py
  sdks/python/octollm-sdk/octollm_sdk/models.py
  sdks/python/octollm-sdk/octollm_sdk/services/orchestrator.py
Due: none

style(sdk): Fix Black formatting violations in Python SDK
  sdks/python/octollm-sdk/examples/authentication.py
  sdks/python/octollm-sdk/examples/error_handling.py
  sdks/python/octollm-sdk/octollm_sdk/client.py
  sdks/python/octollm-sdk/octollm_sdk/config.py
  sdks/python/octollm-sdk/octollm_sdk/exceptions.py
  sdks/python/octollm-sdk/octollm_sdk/models.py
  sdks/python/octollm-sdk/octollm_sdk/services/coder.py
  sdks/python/octollm-sdk/octollm_sdk/services/executor.py
  sdks/python/octollm-sdk/octollm_sdk/services/judge.py
  sdks/python/octollm-sdk/octollm_sdk/services/orchestrator.py
  sdks/python/octollm-sdk/octollm_sdk/services/planner.py
  sdks/python/octollm-sdk/octollm_sdk/services/reflex.py
  sdks/python/octollm-sdk/octollm_sdk/services/retriever.py
  sdks/python/octollm-sdk/octollm_sdk/services/safety_guardian.py
  sdks/python/octollm-sdk/tests/test_models.py
  sdks/python/octollm-sdk/uv.lock
Due: none

feat(infra): Complete Sprint 0.7 - Infrastructure as Code (Cloud Provisioning)
  CHANGELOG.md
  docs/adr/006-cloud-provider-selection.md
  docs/operations/kubernetes-access.md
  docs/security/secrets-management-strategy.md
  docs/sprint-reports/SPRINT-0.7-COMPLETION.md
  infra/README.md
  infra/environments/dev/README.md
  infra/environments/dev/main.tf
  infra/environments/dev/outputs.tf
  infra/environments/dev/terraform.tfvars.example
  infra/environments/dev/variables.tf
  infra/modules/database/main.tf
  infra/modules/database/outputs.tf
  infra/modules/database/variables.tf
  infra/modules/gke/main.tf
  infra/modules/gke/outputs.tf
  infra/modules/gke/variables.tf
  infra/modules/networking/main.tf
  infra/modules/networking/outputs.tf
  infra/modules/networking/variables.tf
  infra/modules/redis/main.tf
  infra/modules/redis/outputs.tf
  infra/modules/redis/variables.tf
  infra/modules/storage/main.tf
  infra/modules/storage/outputs.tf
  infra/modules/storage/variables.tf
  infra/outputs.tf
  infra/terraform.tfvars.example
  infra/variables.tf
  infra/versions.tf
  infrastructure/databases/init-scripts/postgresql-init.sql
  infrastructure/databases/postgresql/dev.yaml
  infrastructure/kubernetes/addons/cert-manager.yaml
  infrastructure/kubernetes/cluster-configs/dev-cluster.yaml
  infrastructure/kubernetes/cluster-configs/prod-cluster.yaml
  infrastructure/kubernetes/namespaces/octollm-dev-namespace.yaml
  infrastructure/secrets/kubernetes-integration/external-secrets.yaml
  infrastructure/secrets/secret-definitions.yaml
  to-dos/status/SPRINT-0.7-PROGRESS.md
Due: none

feat(infra): Complete Sprint 0.8 - Unraid Local Deployment
  .gitignore
  CHANGELOG.md
  README.md
  docs/adr/007-unraid-local-deployment.md
  docs/operations/unraid-deployment-guide.md
  infrastructure/unraid/.env.unraid.example
  infrastructure/unraid/.gitignore
  infrastructure/unraid/DEPLOYMENT-SUMMARY.md
  infrastructure/unraid/README.md
  infrastructure/unraid/docker-compose.unraid.yml
  infrastructure/unraid/grafana/dashboards/octollm-unraid.json
  infrastructure/unraid/prometheus/alerts.unraid.yml
  infrastructure/unraid/scripts/backup-data.sh
  infrastructure/unraid/scripts/monitor-resources.sh
  infrastructure/unraid/scripts/update-services.sh
  infrastructure/unraid/setup-unraid.sh
  infrastructure/unraid/tests/test-gpu.sh
  infrastructure/unraid/tests/test-ollama.sh
  infrastructure/unraid/tests/test-prerequisites.sh
  infrastructure/unraid/tests/test-services.sh
  to-dos/MASTER-TODO.md
Due: none

chore(security): Remove actual secret files from gitleaks allowlist
  .gitleaks.toml
Due: none

chore(deps): Update all dependencies to latest (November 13-14, 2025)
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  infrastructure/docker-compose/docker-compose.dev.yml
  poetry.lock
  pyproject.toml
  sdks/python/octollm-sdk/pyproject.toml
  sdks/typescript/octollm-sdk/package-lock.json
  sdks/typescript/octollm-sdk/package.json
  services/arms/coder/Dockerfile
  services/arms/executor/Dockerfile
  services/arms/judge/Dockerfile
  services/arms/planner/Dockerfile
  services/arms/retriever/Dockerfile
  services/arms/safety-guardian/Dockerfile
  services/orchestrator/Dockerfile
  services/reflex-layer/Dockerfile
Due: none

fix(deps): Resolve Dependabot security vulnerabilities CVE-2025-62727 and CVE-2025-53605
  Cargo.lock
  Cargo.toml
  poetry.lock
  pyproject.toml
Due: none

feat(reflex): Sprint 1.1 initial setup - config and error handling
  Cargo.lock
  Cargo.toml
  services/reflex-layer/Cargo.toml
  services/reflex-layer/src/config.rs
  services/reflex-layer/src/error.rs
  to-dos/status/SPRINT-1.1-IMPLEMENTATION-PLAN.md
Due: cargo-coverage

feat(reflex): Complete Phase 2 infrastructure - enhanced server with Redis
  Cargo.lock
  Cargo.toml
  services/reflex-layer/Cargo.toml
  services/reflex-layer/src/config.rs
  services/reflex-layer/src/error.rs
  services/reflex-layer/src/main.rs
  services/reflex-layer/src/redis_client.rs
  to-dos/status/SPRINT-1.1-DAY-1-SUMMARY.md
Due: cargo-coverage

feat(reflex): Implement Phase 5 - Caching & Rate Limiting
  services/reflex-layer/Cargo.toml
  services/reflex-layer/PHASE5-DELIVERABLES.md
  services/reflex-layer/src/cache/.gitkeep
  services/reflex-layer/src/cache/key.rs
  services/reflex-layer/src/cache/mod.rs
  services/reflex-layer/src/cache/redis_cache.rs
  services/reflex-layer/src/cache/types.rs
  services/reflex-layer/src/lib.rs
  services/reflex-layer/src/ratelimit/mod.rs
  services/reflex-layer/src/ratelimit/redis_limiter.rs
  services/reflex-layer/src/ratelimit/token_bucket.lua
  services/reflex-layer/src/ratelimit/token_bucket.rs
  services/reflex-layer/src/ratelimit/types.rs
Due: cargo-coverage

fix(reflex): Resolve clippy linting warnings for CI
  services/reflex-layer/benches/pii_bench.rs
  services/reflex-layer/src/middleware.rs
  services/reflex-layer/src/ratelimit/token_bucket.rs
  services/reflex-layer/src/redis_client.rs
Due: cargo-coverage

style(python): Standardize import sorting with isort
  sdks/python/octollm-sdk/examples/async_usage.py
  sdks/python/octollm-sdk/examples/authentication.py
  sdks/python/octollm-sdk/examples/basic_usage.py
  sdks/python/octollm-sdk/examples/error_handling.py
  sdks/python/octollm-sdk/octollm_sdk/__init__.py
  sdks/python/octollm-sdk/octollm_sdk/client.py
  sdks/python/octollm-sdk/octollm_sdk/config.py
  sdks/python/octollm-sdk/octollm_sdk/models.py
  sdks/python/octollm-sdk/octollm_sdk/services/__init__.py
  sdks/python/octollm-sdk/octollm_sdk/services/coder.py
  sdks/python/octollm-sdk/octollm_sdk/services/executor.py
  sdks/python/octollm-sdk/octollm_sdk/services/judge.py
  sdks/python/octollm-sdk/octollm_sdk/services/orchestrator.py
  sdks/python/octollm-sdk/octollm_sdk/services/planner.py
  sdks/python/octollm-sdk/octollm_sdk/services/reflex.py
  sdks/python/octollm-sdk/octollm_sdk/services/retriever.py
  sdks/python/octollm-sdk/octollm_sdk/services/safety_guardian.py
  sdks/python/octollm-sdk/tests/test_auth.py
  sdks/python/octollm-sdk/tests/test_models.py
Due: none

fix(orchestrator): Add type annotations to resolve mypy errors
  services/orchestrator/app/__init__.py
  services/orchestrator/app/config.py
  services/orchestrator/app/database.py
  services/orchestrator/app/main.py
  services/orchestrator/app/models.py
  services/orchestrator/app/reflex_client.py
  services/orchestrator/tests/__init__.py
  services/orchestrator/tests/conftest.py
  services/orchestrator/tests/test_config.py
  services/orchestrator/tests/test_database.py
  services/orchestrator/tests/test_main.py
  services/orchestrator/tests/test_models.py
  services/orchestrator/tests/test_reflex_client.py
  services/orchestrator/tests/test_reflex_client_additional.py
Due: pytest-coverage

docs: Complete Sprint 1.2 documentation and handoff
  CHANGELOG.md
  README.md
  docs/api/openapi/orchestrator.yaml
  docs/components/orchestrator.md
  docs/handoffs/SPRINT-1.3-HANDOFF.md
  docs/phases/sprint-1.2/SPRINT-1.2-COMPLETION.md
  services/orchestrator/README.md
  services/orchestrator/pyproject.toml
  services/orchestrator/setup.py
  to-dos/MASTER-TODO.md
  to-dos/status/SPRINT-1.2-PLAN.md
  to-dos/status/SPRINT-1.2-STATUS.md
  to-dos/status/daily-logs/2025-11-14.md
  to-dos/status/daily-logs/2025-11-15.md
Due: pytest-coverage

ci: Fix Lint and Security Scan CI job failures
  sdks/python/octollm-sdk/examples/async_usage.py
  sdks/python/octollm-sdk/examples/authentication.py
  sdks/python/octollm-sdk/examples/basic_usage.py
  sdks/python/octollm-sdk/examples/error_handling.py
  sdks/python/octollm-sdk/octollm_sdk/__init__.py
  sdks/python/octollm-sdk/octollm_sdk/client.py
  sdks/python/octollm-sdk/octollm_sdk/services/orchestrator.py
  sdks/python/octollm-sdk/octollm_sdk/services/reflex.py
  sdks/python/octollm-sdk/tests/test_auth.py
  sdks/python/octollm-sdk/tests/test_models.py
  services/orchestrator/tests/test_config.py
Due: pytest-coverage

Add Snyk Security analysis workflow
  .github/workflows/snyk-security.yml
Due: none

Add GitHub Actions workflow for mdBook deployment
  .github/workflows/mdbook.yml
Due: none

fix: services/reflex-layer/Dockerfile to reduce vulnerabilities
  services/reflex-layer/Dockerfile
Due: none

security: Fix all vulnerability alerts and CI/CD deployment issues
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/mdbook.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  .gitignore
  sdks/typescript/octollm-sdk/package-lock.json
  sdks/typescript/octollm-sdk/package.json
Due: none

fix: services/arms/executor/Dockerfile to reduce vulnerabilities
  services/arms/executor/Dockerfile
Due: none

docs: Update documentation and fix Python code quality issues
  CHANGELOG.md
  README.md
  services/orchestrator/pyproject.toml
  to-dos/MASTER-TODO.md
Due: none

feat(planner-arm): Implement Sprint 1.3 - Planner Arm service (85% complete)
  services/arms/planner/README.md
  services/arms/planner/pyproject.toml
  services/arms/planner/src/__init__.py
  services/arms/planner/src/config.py
  services/arms/planner/src/main.py
  services/arms/planner/src/models.py
  services/arms/planner/src/planner.py
  services/arms/planner/src/prompts.py
  services/arms/planner/tests/__init__.py
  services/arms/planner/tests/conftest.py
  services/arms/planner/tests/test_config.py
  services/arms/planner/tests/test_main.py
  services/arms/planner/tests/test_models.py
  services/arms/planner/tests/test_planner.py
  services/orchestrator/app/config.py
  services/orchestrator/app/planner_client.py
  to-dos/sprint-1.3-planner-arm.md
Due: pytest-coverage

fix(planner-arm): Complete Sprint 1.3 to 100% production-ready status
  services/arms/planner/src/config.py
  services/arms/planner/src/main.py
  services/arms/planner/src/planner.py
  services/arms/planner/tests/test_config.py
  services/arms/planner/tests/test_main.py
  services/arms/planner/tests/test_models.py
  services/arms/planner/tests/test_planner.py
Due: pytest-coverage

docs: Add PR description for Sprint 1.3
  PR-SPRINT-1.3-DESCRIPTION.md
Due: none

style(orchestrator): Fix Black formatting in config.py
  services/orchestrator/app/config.py
Due: pytest-coverage

Update services/orchestrator/app/config.py
  services/orchestrator/app/config.py
Due: pytest-coverage

style(orchestrator): Auto-fix Black formatting in config.py
  services/orchestrator/app/config.py
Due: pytest-coverage

fix: services/arms/safety-guardian/Dockerfile to reduce vulnerabilities
  services/arms/safety-guardian/Dockerfile
Due: none

fix: services/arms/planner/Dockerfile to reduce vulnerabilities
  services/arms/planner/Dockerfile
Due: none

fix: services/arms/coder/Dockerfile to reduce vulnerabilities
  services/arms/coder/Dockerfile
Due: none

fix: services/arms/retriever/Dockerfile to reduce vulnerabilities
  services/arms/retriever/Dockerfile
Due: none

fix: services/arms/judge/Dockerfile to reduce vulnerabilities
  services/arms/judge/Dockerfile
Due: none

fix: services/orchestrator/Dockerfile to reduce vulnerabilities
  services/orchestrator/Dockerfile
Due: none
