Repository doublegate/OctoLLM: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-coverage, cargo-coverage

pytest-coverage:
  name: Check pytest coverage (85% minimum)
  entry: bash -c 'poetry run pytest --cov=services --cov=shared/python --cov-report=term --cov-fail-under=85 tests/unit/'
  language: system
  pass_filenames: false
  stages:
  - push

cargo-coverage:
  name: Check cargo coverage (80% minimum)
  entry: bash -c 'cd services/reflex-layer && cargo tarpaulin --skip-clean --out Stdout --fail-under 80'
  language: system
  pass_filenames: false
  stages:
  - push

ci(deps): stop Dependabot re-proposing the axios bump that cannot compile
  .github/dependabot.yml
Due: none

ci(deps): stop Dependabot re-proposing the axios bump that cannot compile (#37)
  .github/dependabot.yml
Due: none

feat: add VERSION as the single source of truth for 22 version sites
  Cargo.lock
  Cargo.toml
  VERSION
  docs/api/openapi/coder.yaml
  docs/api/openapi/executor.yaml
  docs/api/openapi/judge.yaml
  docs/api/openapi/orchestrator.yaml
  docs/api/openapi/planner.yaml
  docs/api/openapi/reflex-layer.yaml
  docs/api/openapi/retriever.yaml
  docs/api/openapi/safety-guardian.yaml
  pyproject.toml
  scripts/version_sync.py
  sdks/python/octollm-sdk/octollm_sdk/__init__.py
  sdks/python/octollm-sdk/pyproject.toml
  sdks/typescript/octollm-sdk/package-lock.json
  sdks/typescript/octollm-sdk/package.json
  services/orchestrator/app/__init__.py
  services/orchestrator/app/config.py
  services/orchestrator/app/models.py
  services/orchestrator/app/telemetry.py
  services/orchestrator/pyproject.toml
  services/orchestrator/setup.py
  services/orchestrator/tests/test_config.py
  services/orchestrator/tests/test_main.py
  services/orchestrator/tests/test_models.py
  services/reflex-layer/src/telemetry.rs
Due: pytest-coverage, cargo-coverage

feat: add the Makefile README has referenced since Phase 0, and have CI call it
  .github/workflows/ci.yml
  Makefile
Due: none

docs: record the versioning decision as ADR-008 and repair the ADR index
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/adr/008-versioning-and-release.md
  docs/adr/README.md
Due: none

feat: Makefile + VERSION as one source of truth (v1.0.0 Stage 1) (#40)
  .github/workflows/ci.yml
  CHANGELOG.md
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  Makefile
  README.md
  VERSION
  docs/adr/008-versioning-and-release.md
  docs/adr/README.md
  docs/api/openapi/coder.yaml
  docs/api/openapi/executor.yaml
  docs/api/openapi/judge.yaml
  docs/api/openapi/orchestrator.yaml
  docs/api/openapi/planner.yaml
  docs/api/openapi/reflex-layer.yaml
  docs/api/openapi/retriever.yaml
  docs/api/openapi/safety-guardian.yaml
  pyproject.toml
  scripts/version_sync.py
  sdks/python/octollm-sdk/octollm_sdk/__init__.py
  sdks/python/octollm-sdk/pyproject.toml
  sdks/typescript/octollm-sdk/package-lock.json
  sdks/typescript/octollm-sdk/package.json
  services/orchestrator/app/__init__.py
  services/orchestrator/app/config.py
  services/orchestrator/app/models.py
  services/orchestrator/app/telemetry.py
  services/orchestrator/pyproject.toml
  services/orchestrator/setup.py
  services/orchestrator/tests/test_config.py
  services/orchestrator/tests/test_main.py
  services/orchestrator/tests/test_models.py
  services/reflex-layer/src/telemetry.rs
Due: pytest-coverage, cargo-coverage

fix(reflex): stop test_metrics_registration asserting shared counter values
  services/reflex-layer/src/metrics.rs
Due: cargo-coverage

fix(security): make the secret scanner actually scan
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .gitleaks.toml
  .pre-commit-config.yaml
  CHANGELOG.md
  CLAUDE.md
  Makefile
  docs/security/gitleaks-configuration-audit.md
  docs/src/security/gitleaks-configuration-audit.md
  scripts/gitleaks-selftest.sh
Due: none

fix(security): make the secret scanner actually scan (#41)
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .gitleaks.toml
  .pre-commit-config.yaml
  CHANGELOG.md
  CLAUDE.md
  Makefile
  docs/security/gitleaks-configuration-audit.md
  docs/src/security/gitleaks-configuration-audit.md
  scripts/gitleaks-selftest.sh
Due: none

docs: reconcile README and MASTER-TODO with what the repository actually is
  README.md
  to-dos/MASTER-TODO.md
Due: none

docs: lay the architecture diagram out as an octopus, not a fan-out
  README.md
Due: none

docs: draw the architecture as an octopus -- head on top, tentacles to a ring
  README.md
Due: none

docs: draw the reflex arc, and record that only one of its three exits exists
  README.md
Due: none

docs: recolour the diagram -- red head, light blue arm field
  README.md
Due: none

docs: draw the architecture as a generated SVG, because Mermaid cannot draw a ring
  .github/workflows/ci.yml
  Makefile
  README.md
  docs/images/architecture-dark.svg
  docs/images/architecture-light.svg
  scripts/render_architecture.py
Due: none

docs: make the dark architecture diagram the default
  README.md
Due: none

docs: reconcile README and MASTER-TODO with reality; redraw the architecture (#42)
  .github/workflows/ci.yml
  Makefile
  README.md
  docs/images/architecture-dark.svg
  docs/images/architecture-light.svg
  scripts/render_architecture.py
  to-dos/MASTER-TODO.md
Due: none

docs: replace the performance targets with ones that can be met and measured
  ARCHITECTURE.md
  README.md
  docs/adr/009-performance-targets.md
  docs/adr/README.md
Due: none

docs: replace the performance targets with ones that can be met and measured (#43)
  ARCHITECTURE.md
  README.md
  docs/adr/009-performance-targets.md
  docs/adr/README.md
Due: none

fix: repair the two runtime defects that stopped the stack working at all
  Cargo.lock
  Makefile
  services/orchestrator/app/database.py
  services/orchestrator/tests/test_database.py
  services/reflex-layer/Cargo.toml
  services/reflex-layer/src/main.rs
Due: pytest-coverage, cargo-coverage

fix: make the compose file actually configure the services
  .github/workflows/ci.yml
  Makefile
  infrastructure/docker-compose/docker-compose.dev.yml
  scripts/ci/check_compose_env.py
  services/orchestrator/app/config.py
  services/orchestrator/tests/test_config.py
  services/reflex-layer/src/config.rs
Due: pytest-coverage, cargo-coverage

feat: give the five arm images something real to serve
  codecov.yml
  infrastructure/docker-compose/docker-compose.dev.yml
  services/arms/coder/Dockerfile
  services/arms/coder/src/__init__.py
  services/arms/coder/src/main.py
  services/arms/judge/Dockerfile
  services/arms/judge/src/__init__.py
  services/arms/judge/src/main.py
  services/arms/planner/Dockerfile
  services/arms/planner/src/__init__.py
  services/arms/planner/src/main.py
  services/arms/retriever/Dockerfile
  services/arms/retriever/src/__init__.py
  services/arms/retriever/src/main.py
  services/arms/safety_guardian/Dockerfile
  services/arms/safety_guardian/README.md
  services/arms/safety_guardian/src/__init__.py
  services/arms/safety_guardian/src/api/.gitkeep
  services/arms/safety_guardian/src/filtering/.gitkeep
  services/arms/safety_guardian/src/main.py
  services/arms/safety_guardian/src/pii/.gitkeep
  services/arms/safety_guardian/src/policy/.gitkeep
  services/arms/safety_guardian/tests/.gitkeep
  shared/python/octollm_stub/__init__.py
Due: pytest-coverage

fix: align the reflex wire format with its only consumer
  Makefile
  scripts/capture_reflex_fixtures.py
  services/orchestrator/app/reflex_client.py
  services/orchestrator/tests/fixtures/README.md
  services/orchestrator/tests/fixtures/clean.json
  services/orchestrator/tests/fixtures/injection.json
  services/orchestrator/tests/fixtures/pii.json
  services/orchestrator/tests/fixtures/pii_and_injection.json
  services/orchestrator/tests/test_main.py
  services/orchestrator/tests/test_reflex_client.py
  services/orchestrator/tests/test_reflex_client_additional.py
  services/orchestrator/tests/test_reflex_contract.py
  services/reflex-layer/src/handlers.rs
  services/reflex-layer/src/injection/types.rs
  services/reflex-layer/src/pii/types.rs
Due: pytest-coverage, cargo-coverage

feat: the stack comes up healthy and a task round-trips
  .github/workflows/ci.yml
  Makefile
  README.md
  compose.yaml
  docs/api/CONTRACT.md
  docs/api/component-contracts.md
  docs/api/openapi/coder.yaml
  docs/api/openapi/executor.yaml
  docs/api/openapi/judge.yaml
  docs/api/openapi/planner.yaml
  docs/api/openapi/retriever.yaml
  docs/api/openapi/safety-guardian.yaml
  scripts/ci/check_port_map.py
  scripts/smoke.sh
  services/orchestrator/app/database.py
  services/orchestrator/tests/test_database.py
Due: pytest-coverage

docs: record Stage 3 in the CHANGELOG and CLAUDE.md
  CHANGELOG.md
  CLAUDE.md
Due: none

docs: record Stage 3 in the CHANGELOG and CLAUDE.md (#45)
  CHANGELOG.md
  CLAUDE.md
Due: none

fix(mypy): the provider SDKs are optional, so the type check must not require them
  pyproject.toml
Due: none

fix(security): gate arm registration, and stop it moving an arm
  .github/workflows/ci.yml
  CHANGELOG.md
  CLAUDE.md
  Makefile
  compose.yaml
  docs/api/CONTRACT.md
  docs/api/openapi/orchestrator.yaml
  scripts/smoke.sh
  sdks/python/octollm-sdk/octollm_sdk/models.py
  sdks/python/octollm-sdk/octollm_sdk/services/orchestrator.py
  sdks/typescript/octollm-sdk/src/models/index.ts
  services/orchestrator/app/config.py
  services/orchestrator/app/main.py
  services/orchestrator/app/registry.py
  services/orchestrator/tests/test_registry.py
Due: pytest-coverage

docs: one status file Claude Code can trust, and mark the stale one superseded
  CLAUDE.md
  README.md
  docs/PROJECT-STATUS.md
  docs/src/project-tracking/status.md
Due: none

docs: one status file Claude Code can trust, and mark the stale one superseded (#47)
  CLAUDE.md
  README.md
  docs/PROJECT-STATUS.md
  docs/src/project-tracking/status.md
Due: none

docs: add forge AGENTS.md (Kingdom P1-6)
  AGENTS.md
Due: none

chore(deps): update anyio to 4.15.1, regenerate lockfile with greenlet in main group, update provenance comment
  .github/workflows/security.yml
  poetry.lock
  sdks/python/octollm-sdk/uv.lock
Due: none

chore(deps): consolidated multi-ecosystem dependency updates (closes #50, #51, #56, #60-#65) (#66)
  .github/workflows/security.yml
  .github/workflows/snyk-security.yml
  Cargo.lock
  poetry.lock
  pyproject.toml
  sdks/python/octollm-sdk/uv.lock
  sdks/typescript/octollm-sdk/package-lock.json
  sdks/typescript/octollm-sdk/package.json
  services/orchestrator/pyproject.toml
  services/reflex-layer/Dockerfile
Due: none

docs: add forge AGENTS.md (Kingdom P1-6) (#49)
  AGENTS.md
Due: none

Path conditions:
  pytest-coverage: any of: ^(services|shared)/.*\.py$
  cargo-coverage: any of: ^(services|shared)/.*\.rs$
